.conteiner{
    background-color: lightsalmon;

    display: flex;
    flex-flow: row nowrap;
}
.item{
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;

    flex-basis: auto;
}