.conteiner{
    background-color: lightsalmon;
    height: 400px;
    display: flex;
}
.item{
    background-color: orange;
    border: 1px solid black;
    text-align: center;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
#a1{align-self: center;}
#a2{}
#a3{}
#a4{}
#a5{}
#a6{}
#a7{}
